* {
  font-family: "Heebo", sans-serif;
}
section {
  min-height: 75vh;
  background-color: #df4749;
}
footer {
  color: #fff;
  padding: 1rem 0;

  background-color: #1c1c1b;
}
.current {
  border-bottom: 4px solid white;
}
.current-danger {
  border-bottom: 4px solid red;
}

.cursor-pointer {
  cursor: pointer;
}
